@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  display: none;
}

header .logo{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background:#60c1df;
}

.content{
  max-width: 650px;
  margin: 60px 100px;
}

.content .info h2{
  color: #226A80;
  font-size: 55px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 2px;
  line-height: 60px;
  margin-bottom: 30px;
}

.content .info h2 span{
  color: black;
  font-size: 50px;
  font-weight: 600;
}

.content .info p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 40px;
}

.content .info-btn{
  color: #fff;
  background: #226A80;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 10px 20px;
  border-radius: 5px;
  transition: 0.3s;
  transition-property: background;
}

.content .info-btn:hover{
  background: #0C4F60;
}


#check{
  z-index: 3;
  display: none;
}

.content .info img {
  margin-left: 850px;
  margin-top: -365px;
  width: 800px;
  height: 500px;
}

/*footer start*/
footer{
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
  margin-top: 325px;
	padding-top: 40px;
	color: #fff;

}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;

}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;

}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.8rem;
}
.socials a:hover i{
	color: #60c1df;
}
.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;

}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.footer-bottom span{

	opacity: .4;
	font-weight: 200;
}
/*footer end*/

/* Responsive CSS */
@media (max-width: 1900px) {
  .content .info img {
    margin-left: 800px;
    margin-top: -350px;
    width: 700px;
    height: 400px;

  }
 
}


@media (max-width: 1500px) {

  .content .info img {
    width: 0px;
    height: 0px;
}

@media (max-width: 1000px) {

  .content .info img {
    width: 0px;
    height: 0px;
}

@media (max-width: 1285px){
  header .navigation{
    display: none;
  }

  label{
    display: block;
    font-size: 25px;
    cursor: pointer;
    transition: 0.3s;
    transition-property: color;
  }

  label:hover{
    color: #fff;
  }

  label .close-btn{
    display: none;
  }

  #check:checked ~ header .navigation{
    z-index: 2;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(114, 223, 255, 0.9);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #check:checked ~  header .navigation a{
    font-weight: 700;
    margin-right: 0;
    margin-bottom: 50px;
    letter-spacing: 2px;
  }

  #check:checked ~ header label .close-btn{
    z-index: 2;
    position: fixed;
    display: block;
  }

  #check:checked ~ header label .menu-btn{
    display: none;
  }

  label .menu-btn{
    position: absolute;
  }

  header .logo{
    position: absolute;
    bottom: -6px;
  }

  .content .info h2{
    font-size: 45px;
    line-height: 50px;
  }

  .content .info h2 span{
    font-size: 40px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
  .footer-content{
      font-size: 12px;
    }

    .content .info img {
      
      margin-left: -36px;
      margin-top: -5px;
      width: 0px;
      height: 0px;
    }
}

@media (max-width: 560px){
  .content .info h2{
    font-size: 35px;
    line-height: 40px;
  }

  .content .info h2 span{
    font-size: 30px;
    font-weight: 600;
  }

  .content .info p{
    font-size: 14px;
  }
  .footer .box-container .box:last-child{   /*this is footer responsive css*/
  		text-align: center;
  	}
  	.footer .box-container .box:last-child p{
  		font-size: 1.7rem;
  	}
  	.footer .box-container .box:last-child form{
  		flex-flow: column;
  	}
  	.footer .box-container .box:last-child form .btn{
  		margin-top: 1rem;
  		width: 100%;
  	}
  	.footer .credit{
  		font-size: 10px;
  	}

    .content .info img {
      height: 600px;
    }
    .content .info img {
      margin-left: -30px;
      margin-top: -5px;
      width: 0px;
      height: 0px;
    }
}
}
}