@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

section{
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fff;
  background-size: cover;
  background-position: center;
}

header{
  position: relative;
  top: 0;
  width: 100%;
  padding: 30px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

label{
  display: none;
}

header .logo{
  position: relative;
  color: #000;
  font-size: 30px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

header .navigation a{
  color: #000;
  font-size: 18px;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 2px 15px;
  border-radius: 20px;
  transition: 0.3s;
  transition-property: background;
}

header .navigation a:not(:last-child){
  margin-right: 30px;
}

header .navigation a:hover{
  background:#60c1df;
}
#check{
    z-index: 3;
    display: none;
  }






  /*Home content*/
  .slog{
      margin: 0 auto;
      font-size: 35px;
  }
  .slog h1{
    font-size: 100px;
  }
  .slog span{
    font-size: 70px
  }
  /*Home content*/

/*Donation area*/
.donation-sec{
  margin: 0 auto;;
}

.donation-sec .dnbtn{
  text-decoration: none;
  color: #fff;
  padding: 10px 100px 10px 100px;
  /*height: 60px;
  width: 220px;*/
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  border: 3.5px solid darkcyan;
  background-image: linear-gradient(30deg, darkcyan 50%, transparent 50%);
  background-size: 800px;
  background-repeat: no-repeat;
  background-position: 0%;
  cursor: pointer;
  transition: background 300ms ease-in-out;
}
.dnbtn:hover{
  background-position: 100%;
  color: darkcyan;
  background-color: #fff;
}
/*donation content*/
.dn-content{
  text-align: center;
  margin-top: 25px;
}
.dn-content span{
  font-weight: 600;
  font-size: 20px;
}
.dn-content p{
  font-size: 17px;
}

/*Donation area*/



  /*footer area*/
footer{
	
	background: #111;
	height: auto;
	width: 100vw;
	font-family: "Open Sans";
	padding-top: 40px;
	color: #fff;

}
.footer-content{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	text-align: center;

}
.footer-content h3{
	font-size: 1.8rem;
	font-weight: 400;
	text-transform: capitalize;
	line-height: 3rem;

}
.footer-content p{
	max-width: 500px;
	margin: 10px auto;
	line-height: 28px;
	font-size: 14px;
}
.socials{
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 1rem 0 3rem 0;

}
.socials li{
	margin: 0 10px;
}
.socials a{
	text-decoration: none;
	color: #fff;
}
.socials a i{
	font-size: 1.8rem;
}
.socials a:hover i{
	color: aqua;
}
.footer-bottom{
	background: #000;
	width: 100vw;
	padding: 20px 0;
	text-align: center;

}
.footer-bottom p{
	font-size: 14px;
	word-spacing: 2px;
	text-transform: capitalize;

}
.footer-bottom span{
	
	opacity: .4;
	font-weight: 200;
}


/*footer area*/

  /* Responsive CSS */

@media (max-width: 1285px){
    header .navigation{
      display: none;
    }
  
    label{
      display: block;
      font-size: 25px;
      cursor: pointer;
      transition: 0.3s;
      transition-property: color;
    }
  
    label:hover{
      color: #fff;
    }
  
    label .close-btn{
      display: none;
    }
  
    #check:checked ~ header .navigation{
      z-index: 2;
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      background: rgba(114, 223, 255, 0.9);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    #check:checked ~  header .navigation a{
      font-weight: 700;
      margin-right: 0;
      margin-bottom: 50px;
      letter-spacing: 2px;
    }
  
    #check:checked ~ header label .close-btn{
      z-index: 2;
      position: fixed;
      display: block;
    }
  
    #check:checked ~ header label .menu-btn{
      display: none;
    }
  
    label .menu-btn{
      position: absolute;
    }
  
    header .logo{
      position: absolute;
      bottom: -6px;
    }
}


@media (max-width: 400px){
  .slog h1{
    font-size: 80px;
  }
  .slog span{
    font-size: 50px
  }
}