.section {
	position: relative;
	height: 100vh;
}

.section .section-center {
	position: absolute;
	top: 50%;
	left: 0;
	right: 40%;
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}

#booking {
	font-family: 'Montserrat', sans-serif;
	background-color: white;
	background-size: cover;
	background-position: center;
}

#booking::before {
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	
}

.booking-form {
	max-width: 1042px;
	width: 800px;
	margin: auto;
}

.booking-form .form-header {
	text-align: left;
	margin-bottom: 27px;
}

.booking-form .form-header h1 {
	font-size: 58px;
	font-size: 58px;
	font-family: 'B612';
	text-transform: capitalize;
	font-weight: 700;
	color: #293ee1;
	margin: 0px;
}

.booking-form .form-header p {
	font-size: 17px;
	font-family: 'Alatsi';
	text-transform: none;
	font-weight: 100;
	color: #808080;
}

.booking-form>form {
	background-color:black;
	padding: 30px 20px;
	border-radius: 3px;
}

.booking-form .form-group {
	position: relative;
	margin-bottom: 15px;
}